* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product {
  padding: 30px;
}
.product-item {
  padding: 10px;
}
.title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.product-item {
  transition: all 0.3s ease;
}
.tenAo {
  font-size: 25px;
  transition: all 0.3s ease;
}

.product-item:hover {
  transform: scale(1.05);
}
.giaBan {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;
}
.card {
  border: 0px;
}
.card-img-top {
  border-radius: 5%;
}
.btn1 {
  font-weight: bold;
  background-color: rgb(189, 189, 189);
}
.btn1:hover {
  background-color: #838e99;
}
