/* ErrorMessage.css */
.custom-toast-error {
  background-color: #a82e2e;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px;
}

.custom-toast-error {
  font-weight: bold;
}

.custom-toast-error ul {
  padding-left: 20px;
}

.custom-toast-error li {
  margin-bottom: 8px;
}
