/* Custom CSS for the modal */
// .modal-dialog {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-height: calc(100vh - 120px); /* Điều chỉnh chiều cao tối thiểu tùy theo header */
// }

// .modal-content {
//   padding: 20px;
//   max-width: 100%;
//   max-width: 900px;
//   margin: 0 auto;
// }

// /* Điều chỉnh header, nếu cần */
// .modal-header {
//   padding: 15px;
//   background-color: #f4f4f4;
// }
/* CSS cho nút "Đóng" */
.close-button {
  margin-right: 10px; /* Tạo khoảng cách bên phải giữa nút "Đóng" và nút "Gửi yêu cầu" */
  background-color: #d9534f; /* Màu nền nút "Đóng" */
  color: #fff; /* Màu chữ trắng */
  border: none; /* Loại bỏ đường viền */
  border-radius: 5px; /* Kích thước viền tròn */
  padding: 10px 20px; /* Điều chỉnh khoảng cách lề và padding theo nhu cầu */
  cursor: pointer; /* Biểu tượng con trỏ tay khi di chuột qua nút */
  transition: background-color 0.3s; /* Hiệu ứng hover */

  /* Hiệu ứng hover */
  &:hover {
    background-color: #c9302c; /* Màu nền nút "Đóng" khi hover */
  }
}

/* CSS cho nút "Gửi yêu cầu đặt lại mật khẩu" */
.submit-button {
  background-color: #5bc0de; /* Màu nền nút "Gửi yêu cầu" */
  color: #fff; /* Màu chữ trắng */
  border: none; /* Loại bỏ đường viền */
  border-radius: 5px; /* Kích thước viền tròn */
  padding: 10px 20px; /* Điều chỉnh khoảng cách lề và padding theo nhu cầu */
  cursor: pointer; /* Biểu tượng con trỏ tay khi di chuột qua nút */
  transition: background-color 0.3s; /* Hiệu ứng hover */

  /* Hiệu ứng hover */
  &:hover {
    background-color: #46b8da; /* Màu nền nút "Gửi yêu cầu" khi hover */
  }
}
