.navbar {
  display: flex;
  justify-content: center;
  background-color: #eef2f6;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.nameShop {
  color: darkblue;
  font-family: 'Pacifico';
  font-size: 30px;
}
.nav-item {
  padding-left: 50px;
  font-size: 20px;
}
.fa-user {
  padding-right: 15px;
}
.fa-cart-shopping {
  padding-right: 15px;
}
.nav-item {
  display: flex;
  justify-content: flex-end;
}
.headerBottom {
  display: flex;
  justify-content: center;
  padding-left: 150px;
}
.nav-item:hover {
  color: #000000;
  font-weight: bold;
}