.navbar {
  color: red;
  background-color: #eef2f6;
}
.nameShop {
  color: darkblue;
  font-family: 'Pacifico';
  font-size: 30px;
}
.d-flex {
  width: 700px;
  padding-left: 150px;
}
.nav-item {
  padding-left: 50px;
  font-size: 20px;
}
.fa-user {
  padding-right: 15px;
}
.fa-cart-shopping {
  padding-right: 15px;
}
