/* UserAccount.css */

.card-box {
  width: 100%;
  // border-radius: 15px;
  box-shadow: 0px 0px 5px 0.2px rgba(0, 0, 0, 0.8);
}

.back-to-history:hover {
  color: #2196f3;
}

.card-box-center {
  display: inline;
  align-items: center;
}

.card-hdct {
  display: flex;
  justify-content: space-between;
}

.img-history {
  height: 90px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.avatar {
  max-width: 150px; /* Đặt kích thước tối đa cho cột ảnh */
  width: 120%; /* Đảm bảo ảnh không bị vỡ */
  height: 1 20px; /* Đặt kích thước cho cột ảnh */
  border-radius: 70%; /* Biểu tượng hình tròn */
  overflow: hidden; /* Ẩn phần ngoài hình tròn */
  border: 2px solid #ccc; /* Màu và độ dày của viền */
  margin-right: 100px; /* Khoảng cách giữa cột */
}

.avatar-image img {
  max-width: 100%; /* Đặt kích thước tối đa cho ảnh */
  height: 100%; /* Đảm bảo tỷ lệ khung ảnh */
  object-fit: cover; /* Đảm bảo ảnh đầy đủ trong hình tròn */
}

button {
  padding: 10px 20px;
  background-color: #fff; /* Màu nền trắng */
  color: #007bff; /* Màu chữ xanh */
  border: 2px solid #007bff; /* Viền xanh */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Hiệu ứng hover */
}

/* CSS cho hover */
button:hover {
  background-color: #007bff; /* Màu nền xanh khi hover */
  color: #fff; /* Màu chữ trắng khi hover */
}

.vertical-separator {
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
  height: 100%;
}

.slide-bar {
  margin-top: 40px;
}

.no-border {
  border: none;
  background: none;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  font-family: 'Tahoma', sans-serif;
  font-size: 16px;
  // font-weight: bold;
  color: black;
}
.slide-bar-children {
  width: 20%; /* Đặt kích thước cột 2 */
  float: left;
  padding: 10px;
  background-color: #f1f1f1; /* Màu nền của cột 2 */
}

.col-9 {
  width: 75%; /* Đặt kích thước cột 9 */
  float: left;
  padding: 10px;
  background-color: #ffffff; /* Màu nền của cột 9 */
}

.separator {
  width: 5%; /* Đặt kích thước đường dọc trắng */
  height: 100%;
  float: left;
  background-color: #fff; /* Màu nền của đường dọc */
  margin: 0;
}
.right-aligned-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Optional, add background color if needed */
  padding: 20px; /* Optional, add padding to the modal */
  border: 1px solid #ccc; /* Optional, add a border to the modal */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional, add box shadow */
  max-width: 80%;
}

// .modal-content {
//   border: 1px solid #0d89d7;
//   padding: 20px;
//   background-color: #fff;
// }
.input-group {
  position: relative;
  margin-bottom: 20px;
}
input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
input,
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  font-size: 16px;
}
.button1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button1 button {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.button1 button:last-child {
  margin-right: 0;
}

.button1 button:hover {
  background-color: #2980b9;
}

.centered-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2 {
  display: inline-block;
  margin: 10px;
}

.button2 button {
  background-color: #3498db;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button2 button:hover {
  background-color: #1fc66a;
}
.password-label {
  display: inline; /* Để label và input nằm trên cùng một hàng */
}

.password-input {
  display: inline; /* Để input nằm trên cùng một hàng */
}
